html{

    overflow-x: hidden;
}
body {
    background-image: url("./img/bgrn-img.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.our_drinks {
    padding-top: 770px;
    padding-bottom: 110px;
}

.our_drinks-title {
    font-family: 'Rye', cursive;
    font-size: 45px;
    display: flex;
    justify-content: center;
}

.wrapper-content-bc {
    padding-top: 15px;
    text-align: center;
    background-color: #D7D7FF;
    border-radius: 10px;
    margin-top: 50px;
}

.wrapper-content-title {
    font-family: 'Rye', cursive;
    font-size: 30px;

}


.content-img {
    width: 560px;
    height: 350px;
    z-index: -1;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 70px;
    width: 1200px;
    margin: 0 auto;
}

.about_us {
    padding-top: 70px;
}

.about_us-all {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 70px;
    width: 1200px;
    margin: 0 auto;
}

.about_us-title {
    font-size: 45px;
    font-family: 'Rye', cursive;
    display: flex;
    justify-content: center;
}

.about_us-text {
    font-size: 37px;
    width: 530px;
    height: 335px;
    padding-top: 70px;
    font-family: 'Griffy', cursive;
    text-align: center;
}
.about_us-img{
    height: 400px;
    width: 600px;
}

.slider-img {
    width: 1400px;
    height: 600px;
}

.slider {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.arrow {

    position: absolute;
    z-index: 3000;
    cursor: pointer;
}

/*
.arrow::after {
    content: "";
    position: absolute;
    display: inline-block;
    height: 90vh;
    background-color: rgba(0,0,0, 0.25);
}
*/

.arrow::before {
    font-size: 55px;
    color: white;
    font-weight: 800;
    /*background-color: #d0d0ff9e;
    border-radius: 50%;*/
}

.arrow.left {
    top: 50%;
    margin-left: 30px;
    left: 0;
}

.arrow.right {
    top: 50%;
    margin-right: 30px;
    right: 0;
}

.slider-img-wrapper {
    position: relative;
    width: 100vw;
    height: 1000px;
}

.slider-img {
    width: 100vw;
    height: 1000px;
    transition: 1s;
    position: absolute;
    right: -2000px;
}

.active {
    right: 0px;
    transition: 1s;
}

.img_1 {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin: 4.5px;
}


.header {
    background-color: #00F0FF;
    display: flex;
    height: 100px;
}

.header-menu {
    list-style: none;
    font-size: 20px;
    font-family: 'Rye', cursive;
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 302px;

}

.header-title {
    font-size: 60px;
    margin-block-start: 20.5px;
    margin-right: 350px;
    font-family: 'Rye', cursive;
    margin-left: 15px;

}


.menu-link {

    margin-right: 80px;
    text-decoration: none;
    text-transform: uppercase;
    color: #111;
    transition: color 0.5s ease-in-out;
}

.menu-link:hover {
    color: #fff;
}

.footer {
    background-color: #00F0FF;
    text-align: center;
    padding: 10px 0;
}

.footer-title {
    font-family: 'Rye', cursive;
    font-size: 38px;
    margin-bottom: 40px;
    text-decoration: none;

}

.img_2 {
    width: 45px;
    height: 45px;

}

.img_3 {
    width: 50px;
    height: 50px;

}

.inf_inst {
    display: flex;
    justify-content: space-between;
    font-size: 30px;

}

.inf_face {
    display: flex;
    justify-content: space-between;
    font-size: 30px;

}

.footer-wrapper {
    display: flex;
    width: 500px;
    margin: 0 auto;
    justify-content: space-between;
    font-family: 'Rye', cursive;
}

.tabs {
    list-style-type: none;
    padding: 0;
    margin: 0;

    position: relative;
}

.tabs:after {
    content: "";
    clear: both;
    display: block;
    height: 240px;
}

.our_menu {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 80px;
    width: 1300px;
    margin: 0 auto;
}

.tabs li {
    float: left;
}

.tabs li > input {
    display: none;
}

.tabs li > label {
    line-height: 30px;
    padding: 10px 130px;
    cursor: pointer;
    font-size: 30px;
    font-family: 'Rye', cursive;

}

.tabs li:last-child > label {
    border-right-width: 1px;
}

.tabs .tab-content {
    display: none;
}

/* Функциональность: */

.tabs li > input:checked + label {
    background-color: #d7d7ff;
    border-radius: 10px;
}

.tabs li > input:checked ~ .tab-content {
    display: flex;
    width: 1200px;
    margin-top: 45px;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 20px;
    left: 45px;
}


.img1 {
    width: 300px;
    margin: 10px;
    height: 250px;
    border-radius: 40px;
}
.tab-content {
    position: absolute;
}

.img2 {
    width: 300px;
    margin: 10px;
    height: 250px;
    border-radius: 40px;
}

.img3 {
    width: 300px;
    margin: 10px;
    height: 250px;
    border-radius: 40px;
}

.name-of-menu {
    display: flex;
}



.img_1 {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin: 5px;
}


.header {
    background-color: #00F0FF;
    display: flex;
    height: 100px;
}

.header-menu {
    list-style: none;
    font-size: 20px;
    font-family: 'Rye', cursive;
    display: flex;
    justify-content: space-between;
    padding-top: 39px;
    padding-left: 302px;

}

.header-title {
    font-size: 60px;
    margin-block-start: 20.5px;
    margin-right: 350px;
    font-family: 'Rye', cursive;
    margin-left: 15px;

}


.menu-link{

    margin-right: 80px;
    text-decoration: none;
    text-transform: uppercase;
    color: #111;
    transition: color 0.5s ease-in-out;
}

.menu-link:hover{
    color: #fff;
}
.footer{
    background-color: #00F0FF;
    text-align: center;
    padding: 10px 0;
}
.footer-title{
    font-family: 'Rye', cursive;
    font-size: 38px;
    margin-bottom: 40px;
    text-decoration: none;

}
.img_2{
    width: 45px;
    height: 45px;

}
.img_3{
    width: 50px;
    height: 50px;

}

.inf_inst{
    display: flex;
    justify-content: space-between;
    font-size: 30px;

}
.inf_face{
    display: flex;
    justify-content: space-between;
    font-size: 30px;

}
.footer-wrapper{
    display: flex;
    width: 500px;
    margin: 0 auto;
    justify-content: space-between;
    font-family: 'Rye', cursive;
}
.tabs {
    list-style-type: none;
    padding: 0;
    margin: 0;

    position: relative;
}
.tabs:after {
    content: "";
    clear: both;
    display: block;
    height: 240px;
}
.our_menu{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 80px;
    width: 1300px;
    margin: 0 auto;
}
.tabs li {
    float: left;
}
.tabs li > input {
    display: none;
}
.tabs li > label {
    line-height: 30px;
    padding: 10px 130px;
    cursor: pointer;
    font-size: 30px;
    font-family: 'Rye', cursive;

}
.tabs li:last-child > label {
    border-right-width: 1px;
}
.tabs .tab-content {
    display: none;
}

/* Функциональность: */

.tabs li > input:checked + label {
    background-color: #d7d7ff;
    border-radius: 10px;
}
.tabs li > input:checked ~ .tab-content {
    display: block;
    width: 1200px;
    left: 150px;
}


.img1{
    width: 300px;
    margin: 10px;
    height: 300px;
    border-radius: 40px;
}
.tab-content{
    position: absolute;
}
.img2{
    width: 300px;
    height: 300px;
    margin: 10px;
    border-radius: 40px;
}
.img3{
    width: 300px;
    height: 300px;
    margin: 10px;
    border-radius: 40px;
}
